<strong>Olá, {{ provider }}</strong>
<p>Houve um cancelamento do serviço com protocolo: <b>{{ protocol }}</b>, confira os detalhes abaixo:</p>
<p>
  <strong>Solicitante: </strong> {{ person }} <br />
  <strong>Data do agendamento: </strong> {{ date }} <br />
  <strong>Data do cancelamento: </strong> {{ dateCanceled }} <br />
  <strong>Tipo do serviço: </strong> {{ task }} <br />
  <strong>Endereço: </strong> {{ address }} <br />
  <br />
  <strong>Observações: </strong><br />
  <p>
    {{#if message}}
    {{message}}
    {{else}}
    Nenhuma mensagem registrada
    {{/if}}
  </p>
</p>
